* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: linear-gradient(#e7e9ec, #e4e8ec) !important;
}

.register-box,
.login-box {
  padding: 40px;
  background: rgba(0,0,0,.5) !important;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.register-box h2,
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-box .user-box,
.login-box .user-box {
  position: relative;
}

.register-box .user-box input,
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.register-box .user-box label,
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.register-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label,
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label  {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.cardBox {
  -webkit-box-shadow: 0 1px 20px 0 rgba(240, 55, 41, 0.08) !important;
  box-shadow: 0 1px 20px 0 rgba(233, 98, 20, 0.08) !important;
  border: none !important;
  margin-bottom: 30px !important
}
